@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:steveoshima@live.com">steveoshima@live.com</a><br />

</address>